<div data-drag="true" data-jqyoui-options="jqyouiOptions" ng-model="taskToDrag" jqyoui-draggable="{onStart:'onStart', onStop :'onStop'}">
    <div class="btn btn-default"  ng-if="!dragActive">{{task.subject}}</div>
    <div ng-if="dragActive" ng-class="(task.isMilestone === true && ['gantt-task-milestone'] || ['gantt-task']).concat(task.classes)"
         ng-style="{'height': '1.6em', 'width': task.width +'em', 'z-index': 1000, 'background-color': task.color}">
        <!--<gantt-bounds template-url="template/default.bouds.tmpl.html" ng-if="task.bounds !== undefined" ng-model="task"></gantt-bounds>-->
        <!--<gantt-tooltip template-url="template/default.tooltip.tmpl.html" ng-if="showTooltips && (task.isMouseOver || task.isMoving)" ng-model="task"></gantt-tooltip>-->
        <div class="gantt-task-content"><span>{{ (task.isMilestone === true && '&nbsp;' || task.subject) }}</span><span ng-if="task.over"> - OVER</span></div>
    </div>
</div>

