<div class="gantt">
    <div class="gantt-fixed">
        <div class="gantt-fixed-header">
            <div class="gantt-header-desc gantt-header-row-height"
                 ng-show="gantt.columns.length > 0"
                 ng-style="{'margin-top': (viewScale === 'hour' && (3*2) || (2*2))+'em'}">
                <span>Description</span>
            </div>
        </div>
        <div class="gantt-header-row gantt-row-height"
             ng-class-odd="'gantt-grid-background-row'"
             ng-class-even="'gantt-grid-background-row-alt'"
             ng-repeat="row in gantt.rows">
            <gantt-sortable swap="swapRows(a,b)" ng-model="row">
                <span>{{ row.description }}</span>
            </gantt-sortable>
        </div>
    </div>
    <div class="gantt-scroll-container"
         ng-style="{'overflow-x': (gantt.rows.length == 0 && 'hidden' || 'scroll')}">
        <div class="gantt-scrollable"
             ng-style="{'width': ganttInnerWidth+'em'}">
            <div class="gantt-scrollable-header">
                <div class="gantt-header-month gantt-header-row-height">
                    <span ng-style="{'width': c.widthMonth+'em'}"
                          ng-repeat="c in gantt.columns | filter:viewMonthFilter">
                        {{ c.fromDate | date:'MMMM yyyy' }}
                    </span>
                </div>
                <div class="gantt-header-week gantt-header-row-height">
                    <span ng-style="{'width': c.widthWeek+'em'}"
                          ng-repeat="c in gantt.columns | filter:viewWeekFilter">
                        {{ c.fromDate | dateWeek }}
                    </span>
                </div>
                <div class="gantt-header-day gantt-header-row-height">
                    <span ng-style="{'width': c.widthDay+'em'}"
                          ng-repeat="c in gantt.columns | filter:viewDayFilter">
                        {{ viewScale === "day" && (c.fromDate | date:'dd') || (c.fromDate | date:'dd EEEE') }}
                    </span>
                </div>
                <div class="gantt-header-hour gantt-header-row-height"
                     ng-show="viewScale === 'hour'">
                    <span ng-style="{'width': viewScaleFactor+'em'}"
                          ng-repeat="c in gantt.columns">
                        {{ c.fromDate | date:'HH' }}
                    </span>
                </div>
            </div>
            <div class="gantt-body">
                <div class="gantt-body-background">
                    <div class="gantt-row-height"
                         ng-class-odd="'gantt-grid-background-row'"
                         ng-class-even="'gantt-grid-background-row-alt'"
                         ng-repeat="row in gantt.rows">

                    </div>
                </div>
                <div class="gantt-body-content">
                    <div class="gantt-row gantt-row-height"
                         ng-repeat="row in gantt.rows">
                        <!-- create a cell for each column for click events-->
                        <div ng-class="(c.isWeekend && 'gantt-grid-foreground-col-weekend' || 'gantt-grid-foreground-col')"
                             ng-style="{'width': viewScaleFactor+'em'}"
                             ng-click="raiseColumnClicked($event, row, c)"
                             ng-repeat="c in gantt.columns | filter: viewColumnFilter">
                        </div>
                        <!--a task will override the cell event -->
                        <div ng-class="(task.to-task.from === 0 && 'gantt-task-milestone' || 'gantt-task')"
                             ng-style="{'left': (task.to-task.from === 0 && (task.x-0.3) || task.x)+'em', 'width': task.width+'em', 'background-color': task.color}"
                             ng-click="raiseTaskClicked($event, row, task)"
                             ng-repeat="task in row.tasks">
                            <gantt-info ng-model="task">
                                <div class="gantt-task-content"><span>{{ (task.to-task.from === 0 && '&nbsp;' || task.subject) }}</span></div>
                            </gantt-info>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>