/.idea
/.DS_Store
/.tmp
/demo
/test
/.travis.yml
/.npmignore
/*.html
/*.iml
/*.tgz
/bower_components/
/node_modules/
/gh-pages/
/assets/*.min.js
/assets/*.map
/docs/_build/
/site/
/coverage-results/
*.log
/resources/
