<!doctype html>
<html ng-app="demoApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/gantt.css"/>
    <title>Gantt Demo</title>
</head>
<body style="margin: 10px">
<div ng-controller="ctrl">
    <h1>Gantt Demo</h1>

    <form role="form" class="form-inline">
        <div class="form-group">
            <span class="help-block">Action</span>
            <div class="btn-group">
                <button class="btn btn-default" ng-click="addSamples()">Load data</button>
            </div>
        </div>
        <div class="form-group">
            <span class="help-block">View mode</span>
            <div class="btn-group">
                <button class="btn btn-primary" ng-click="scale = 'day'">View 'Day'</button>
                <button class="btn btn-primary" ng-click="scale = 'hour'">View 'Hour'</button>
            </div>
        </div>
        <div class="form-group">
            <span class="help-block">Sort order</span>
            <select class="form-control" style="width: 100px;" ng-model="mode" ng-options="m for m in ['name', 'date', 'custom']"></select>
        </div>
    </form>
    <hr>
    <gantt first-day-of-week="firstDay"
           load-data="setLoadDataFn(fn)"
           sort-mode="mode"
           view-scale="scale"
           weekend-days="weekendDays"
           on-entry-added="entryEvent(event)"
           on-entry-updated="entryEvent(event)"
           on-scroll="scroll(event)"
            >
     </gantt>
    <hr>
    <small>Gantt chart for Angular.js by Marco Schweighauser (2013) | The MIT License (MIT)</small>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
<script src="js/demo_sample_data.js"></script>
<script src="js/demo.js"></script>
<script src="js/gantt.js"></script>
</body>
</html>