<!doctype html>
<html ng-app="demoApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/gantt.css"/>
    <title>Gantt chart for Angular.js</title>
</head>
<body style="padding: 10px">
<a href="https://github.com/Schweigi/angular-gantt" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
<script type="text/ng-template" id="default.task.tmpl2.html">
    <div ng-class="(task.isMilestone === true && ['gantt-task-milestone'] || ['gantt-task']).concat(task.classes)"
         ng-style="{'left': ((task.isMilestone === true || task.width === 0) && (task.left-0.3) || task.left)+'em', 'width': task.width +'em', 'z-index': (task.isMoving === true && 1  || task.priority || ''), 'background-color': task.color}">
        <gantt-bounds ng-if="task.bounds !== undefined" ng-model="task"></gantt-bounds>
        <gantt-tooltip ng-if="showTooltips && (task.isMouseOver || task.isMoving)" ng-model="task"></gantt-tooltip>
        <div class="gantt-task-content"><span>{{ (task.isMilestone === true && '&nbsp;' || task.subject) }}</span></div>
    </div>
</script>

<div ng-controller="ctrl">
    <h1>Gantt chart demo</h1>

    <form role="form" class="form-inline">
        <div class="form-group">
            <span class="help-block">Action</span>
            <div class="btn-group">
                <button class="btn btn-default" ng-click="addSamples()">Load data</button>
                <button class="btn btn-default" ng-click="removeSomeSamples()">Remove some</button>
                <button class="btn btn-default" ng-click="removeSamples()">Remove all</button>
            </div>
        </div>
        <div class="form-group">
            <span class="help-block">View scale</span>
            <select class="form-control" style="width: 100px;" ng-model="scale" ng-options="s for s in ['hour', 'day', 'week', 'month']"></select>
        </div>
        <div class="form-group">
            <span class="help-block">Sort order</span>
            <select class="form-control" style="width: 100px;" ng-model="mode" ng-options="m for m in ['name', 'date', 'custom']"></select>
        </div>
        <div class="form-group text-center">
            <span class="help-block">Max height</span>
            <div ng-show="maxHeight > 0">
                <button class="btn btn-default" ng-click="maxHeight = 0">Deactivate</button>
            </div>
            <div ng-show="maxHeight === 0">
                <button class="btn btn-default" ng-click="maxHeight = 300">Activate</button>
            </div>
        </div>
        <div class="form-group text-center">
            <span class="help-block">Additional options</span>
            <div class="btn-group">
                <button ng-show="showWeekends" class="btn btn-default" ng-click="showWeekends = false">Hide weekends</button>
                <button ng-show="showWeekends == false" class="btn btn-default" ng-click="showWeekends = true">Show weekends</button>
                <button ng-show="showNonWorkHours == false" class="btn btn-default" ng-click="showNonWorkHours = true; subScale = 6">Show non working hours</button>
                <button ng-show="showNonWorkHours" class="btn btn-default" ng-click="showNonWorkHours = false; subScale = 8">Hide non working hours</button>
            </div>
        </div>
        <div class="form-group">
            <span class="help-block">Row filter</span>
            <input type="text" ng-model="rowFilter.description">
        </div>
    </form>

    <h2>orderBy Filter with ngRepeat</h2>
    <div class='contentWrapper ng-cloak'>
        <div class='content'>
            <div class="row-fluid">
                <ul class="thumbnails">
                    <!--<li class="span3" style='margin-left:10px;' ng-repeat="item in list1">-->
                        <!--<div class="btn btn-droppable" data-drop="true" ng-model='list1' jqyoui-droppable="{index: {{$index}}}">-->
                            <!--<div class="btn btn-info btn-draggable" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">{{item.title}}</div>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>

            <div style="background-color: red" ng-repeat="task in list2" width="250" height="500">TEST
                <mygantt-task task="task" data-drag="true" data-jqyoui-options="jqyouiOptions" ng-model="task" jqyoui-draggable="{onStart:'onStart'}"></mygantt-task>
            </div>
                <!--<mygantt-task data-drag="true" data-jqyoui-options="jqyouiOptions" ng-model="list2" jqyoui-draggable="{onStart:'onStart', index: {{$index}}}" ng-hide="!item.id"></mygantt-task>-->

                <!--<div class="btn btn-info btn-draggable" data-drag="true" data-jqyoui-options="jqyouiOptions" ng-model="list2" jqyoui-draggable="{onStart:'onStart', index: {{$index}}}" ng-hide="!item.id">{{item.id}}</div>-->



    <!--<div data-drop="true" style="background-color: #53ff34; width: 300px; height: 30px;" ng-model='list1' jqyoui-droppable="{}">Test</div>-->

    <hr>
    <gantt
           first-day-of-week="1"
           load-data="loadData = fn"
           remove-data="removeData = fn"
           clear-data="clearData = fn"
           sort-mode="mode"
           row-filter="rowFilter"
           view-scale="scale"
           column-width="scale === 'month' && 20 || (scale === 'week' && 10 || 4)"
           column-sub-scale="scale === 'week' && 7 || 6"
           work-hours="[8,9,10,11,12,13,14,15]"
           show-non-work-hours="showNonWorkHours"
           weekend-days="[0,6]"
           show-weekends="showWeekends"
           max-height="maxHeight"
           on-gantt-ready="addSamples()"
           on-row-added="rowEvent(event)"
           on-row-clicked="rowEvent(event)"
           on-row-updated="rowEvent(event)"
           on-scroll="scrollEvent(event)"
           on-task-clicked="taskEvent(event)"
           on-task-updated="taskEvent(event)">
           on-task-updated="taskEvent(event)">
     </gantt>
    <hr>
    <small>Gantt chart for Angular.js by Marco Schweighauser (2014) | MIT License</small>
</div>
<script src="assets/jquery.min.js"></script>
<script src="assets/jqueryui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script src="assets/demo_sample_data.js"></script>

<script src="assets/demo.js"></script>

<script src="assets/dnd.js"></script>
<script src="assets/angular-gantt.js"></script>

</body>
</html>