<div class="gantt unselectable" gantt-scroll-manager gantt-element-width-listener>
    <gantt-labels>
        <div class="gantt-labels-header">
            <gantt-row-header></gantt-row-header>
        </div>
        <div class="gantt-labels-body"
             ng-style="(maxHeight > 0 && {'max-height': (maxHeight - gantt.header.getHeight())+'px'} || {})"
             ng-show="gantt.columnsManager.columns.length > 0">
            <div gantt-vertical-scroll-receiver style="position: relative">
                <gantt-row-label ng-repeat="row in gantt.rowsManager.visibleRows track by $index">
                    <gantt-sortable swap="row.rowsManager.swapRows(a,b)" active="allowRowSorting" ng-model="row">
                        <span class="gantt-labels-text">{{ row.name }}</span>
                    </gantt-sortable>
                </gantt-row-label>
            </div>
        </div>
    </gantt-labels>
    <gantt-header>
        <gantt-header-columns>
            <div ng-repeat="header in gantt.columnsManager.visibleHeaders">
                <div class="gantt-header-row gantt-header-row-bottom">
                    <gantt-column-header ng-repeat="column in header track by $index">
                        {{ column.label }}
                    </gantt-column-header>
                </div>
            </div>
        </gantt-header-columns>
    </gantt-header>
    <gantt-scrollable>
        <gantt-body>
            <div class="gantt-body-background">
                <div class="gantt-row-height"
                     ng-class-odd="'gantt-background-row'"
                     ng-class-even="'gantt-background-row-alt'"
                     ng-class="row.classes"
                     ng-style="{'background-color': row.color, 'height': row.height}"
                     ng-repeat="row in gantt.rowsManager.visibleRows track by $index">
                </div>
            </div>
            <div class="gantt-body-foreground">
                <div class="gantt-current-date-line" ng-if="currentDate === 'line' && gantt.currentDateManager.position >= 0 && gantt.currentDateManager.position <= gantt.width" ng-style="{'left': gantt.currentDateManager.position + 'px' }"></div>
            </div>
            <gantt-body-columns class="gantt-body-columns">
                <gantt-column ng-repeat="column in gantt.columnsManager.visibleColumns track by $index">
                    <gantt-time-frame ng-repeat="timeFrame in column.visibleTimeFrames"></gantt-time-frame>
                </gantt-column>
            </gantt-body-columns>
            <gantt-body-rows>
                <div class="gantt-timespan"
                     ng-style="{'left': ((timespan.left-0.3) || timespan.left)+'px', 'width': timespan.width +'px', 'z-index': (timespan.priority || 0)}"
                     ng-class="timespan.classes"
                     ng-repeat="timespan in gantt.timespansManager.timespans">
                    <gantt-tooltip ng-model="timespan" date-format="'MMM d'">
                        <div class="gantt-task-content"><span>{{ timespan.name }}</span></div>
                    </gantt-tooltip>
                </div>
                <gantt-row ng-repeat="row in gantt.rowsManager.visibleRows track by $index">
                    <gantt-task ng-repeat="task in row.visibleTasks track by task.id"></gantt-task>
                </gantt-row>
            </gantt-body-rows>
        </gantt-body>
    </gantt-scrollable>


    <!--
    ******* Inline templates *******
    You can specify your own templates by either changing the default ones below or by
    adding an attribute template-url="<url to your template>" on the specific element.
    -->

    <!-- Body template -->
    <script type="text/ng-template" id="template/default.body.tmpl.html">
        <div ng-transclude class="gantt-body"
             ng-style="{'width': gantt.width +'px'}"></div>
    </script>

    <!-- Header template -->
    <script type="text/ng-template" id="template/default.header.tmpl.html">
        <div ng-transclude class="gantt-header"
             ng-show="gantt.columnsManager.columns.length > 0 && gantt.columnsManager.getActiveHeadersCount() > 0"
             ng-style="getHeaderCss()"></div>
    </script>

    <!-- Row label template -->
    <script type="text/ng-template" id="template/default.rowLabel.tmpl.html">
        <div ng-transclude class="gantt-labels-row gantt-row-height"
             ng-class-odd="'gantt-background-row'"
             ng-class-even="'gantt-background-row-alt'"
             ng-class="row.classes" ng-style="{'background-color': row.color, 'height': row.height}">
        </div>
    </script>

    <!-- Row header template -->
    <script type="text/ng-template" id="template/default.rowHeader.tmpl.html">
        <div class="gantt-labels-header-row"
             ng-show="gantt.columnsManager.columns.length > 0 && gantt.columnsManager.getActiveHeadersCount() > 0"
             ng-style="{'margin-top': ((gantt.columnsManager.getActiveHeadersCount()-1)*2)+'em'}">
            <span>Name</span>
        </div>
    </script>

    <!-- Labels template -->
    <script type="text/ng-template" id="template/default.labels.tmpl.html">
        <div ng-transclude ng-if="showLabelsColumn" class="gantt-labels"
             ng-style="(labelsWidth > 0 && {'width': labelsWidth+'px'} || {})"
             gantt-labels-resize="$parent.allowLabelsResizing"
             gantt-labels-resize-width="$parent.labelsWidth"
             gantt-labels-resize-min-width="50"
             gantt-element-width-listener="$parent.labelsWidth"></div>
    </script>

    <!-- Header columns template -->
    <script type="text/ng-template" id="template/default.headerColumns.tmpl.html">
        <div ng-transclude class="gantt-header-columns"
              gantt-horizontal-scroll-receiver></div>
    </script>

    <script type="text/ng-template" id="template/default.columnHeader.tmpl.html">
        <div ng-transclude class="gantt-column-header"
              ng-style="{'left': column.left+'px', 'width': column.width+'px'}"></div>
    </script>

    <!-- Body columns template -->
    <script type="text/ng-template" id="template/default.bodyColumns.tmpl.html">
        <div ng-transclude class="gantt-body-columns"></div>
    </script>

    <script type="text/ng-template" id="template/default.column.tmpl.html">
        <div ng-transclude class="gantt-column"
             ng-class="(column.currentDate && currentDate === 'column') && 'gantt-foreground-col-current-date' || 'gantt-foreground-col'"
             ng-style="{'left': column.left+'px', 'width': column.width+'px'}"></div>
    </script>

    <script type="text/ng-template" id="template/default.timeFrame.tmpl.html">
        <div class="gantt-timeframe"
             ng-class="getClass()"
             ng-style="{'left': timeFrame.left + 'px', 'width': timeFrame.width + 'px', 'background-color': timeFrame.color && timeFrame.color || ''}"></div>
    </script>

    <!-- Scrollable template -->
    <script type="text/ng-template" id="template/default.scrollable.tmpl.html">
        <div ng-transclude class="gantt-scrollable" gantt-scroll-sender gantt-limit-updater
             ng-style="getScrollableCss()"></div>
    </script>

    <!-- Rows template -->
    <script type="text/ng-template" id="template/default.bodyRows.tmpl.html">
        <div ng-transclude class="gantt-body-rows"></div>
    </script>

    <!-- Task template -->
    <script type="text/ng-template" id="template/default.task.tmpl.html">
        <div ng-class="(task.isMilestone === true && ['gantt-task-milestone'] || ['gantt-task']).concat(task.classes)"
             ng-style="{'left': ((task.isMilestone === true || task.width === 0) && (task.left-0.3) || task.left)+'px', 'width': task.width +'px', 'z-index': (task.isMoving === true && 1  || task.priority || ''), 'background-color': task.color}">
            <gantt-bounds ng-if="task.bounds !== undefined" ng-model="task"></gantt-bounds>
            <gantt-tooltip ng-if="showTooltips && (task.isMouseOver || task.isMoving)" ng-model="task"></gantt-tooltip>
            <div ng-if="task.truncatedLeft" class="gantt-task-truncated-left"><span>&lt;</span></div>
            <div class="gantt-task-content"><span>{{ (task.isMilestone === true && '&nbsp;' || task.name) }}</span></div>
            <div ng-if="task.truncatedRight" class="gantt-task-truncated-right"><span>&gt;</span></div>
            <gantt-task-progress ng-if="task.progress !== undefined"></gantt-task-progress>
        </div>
    </script>

    <!-- Tooltip template -->
    <script type="text/ng-template" id="template/default.tooltip.tmpl.html">
        <div class="gantt-task-info" ng-style="css">
            <div class="gantt-task-info-content">
                {{ task.name }}</br>
                <small>
                    {{
                    task.isMilestone === true && (task.getFromLabel()) || (task.getFromLabel() + ' - ' + task.getToLabel());
                    }}
                </small>
            </div>
        </div>
    </script>

    <!-- Task bounds template -->
    <script type="text/ng-template" id="template/default.bounds.tmpl.html">
        <div ng-show='visible' class='gantt-task-bounds'
             ng-style='getCss()' ng-class='getClass()'></div>
    </script>

    <!-- Task progress template -->
    <script type="text/ng-template" id="template/default.taskProgress.tmpl.html">
        <div class='gantt-task-progress' ng-style="getCss()" ng-class="progress.classes"></div>
    </script>

    <!-- Row template -->
    <script type="text/ng-template" id="template/default.row.tmpl.html">
        <div ng-transclude class="gantt-row gantt-row-height" ng-style="{'height': row.height}"></div>
    </script>

</div>
