.gantt-row-label-background {
    position: absolute;
    width: 100%;
}

.gantt-tree-body .gantt-row-label span {
    margin: 0;
}

.gantt-tree-body .gantt-row-label a.gantt-tree-handle-button {
    padding: 0;
    position: relative;
    top: -0.50em;
}

.gantt-tree-body .gantt-row-label a.gantt-tree-handle-button.gantt-tree-expanded {
    top: -0.40em;
}

.gantt-tree-body .gantt-row-label span.gantt-tree-handle {
    padding: 0;
    position: relative;
}

.gantt-tree-body .gantt-row-label span.gantt-tree-text {
    padding-left: 0;
}

.gantt-tree-header {
    overflow: hidden;
}

.gantt-tree-body {
    overflow: hidden;
}

.gantt-tree-header-row  {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    height: 2em;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold;
    white-space: nowrap;
}

.gantt-tree-header-row-last {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.gantt-tree-header-row span {
    height: 2em;
    text-align: center;
    display: inline-block;
    padding-top: 0.5em;
    overflow: hidden;
    text-overflow: clip;
}

.gantt-tree-body ol {
    padding-left: 0;
}

.angular-ui-tree-handle {
    cursor: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    min-height: inherit;
    line-height: inherit;
}
