.gantt {
    line-height: normal;
}

.clearfix-container:before,
.clearfix-container:after {
    content:"";
    display:table;
}
.clearfix-container:after {
    clear:both;
}
.clearfix-container {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.gantt-scrollable {
    overflow-x: auto;

    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.gantt-scrollable-header {
    overflow-x: hidden;

    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.gantt-header, .gantt-side, .gantt-task {
    cursor: default;
}

.gantt-header {
    overflow: hidden;
}

.gantt-header-columns {
    position: relative;
    height: 100%;
}

.gantt-side {
    float: left;
    position: relative;
}

.gantt-header-row  {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    height: 2em;
    white-space: nowrap;
    border-top: 1px solid #dddddd;
}

.gantt-header-row-last {
    border-bottom: 1px solid #dddddd;
}

.gantt-header-row .gantt-column-header {
    position: absolute;
    border-right: 1px solid #dddddd;
}

.gantt-header-row .gantt-column-header-last {
    position: absolute;
    border-right: none;
}

.gantt-header-row .gantt-column-header {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    display: inline-block;
    height: 2em;
    text-align: center;
    padding-top: 0.5em;
    overflow: hidden;
    text-overflow: clip;
}

.gantt-foreground-col, .gantt-foreground-col-weekend, .gantt-foreground-col-nonworkhour, .gantt-foreground-col-current-date {
    position: absolute;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    display: inline-block;
    height: 100%;
    border-right: 1px solid #dddddd;
}

.gantt-foreground-col-weekend, .gantt-foreground-col-nonworkhour {
    background-color: rgba(200, 200, 200, 0.3);
}

.gantt-column-header-last {
    border-right: none;
}

.gantt-column-last {
    border-right: none;
}

.gantt-labels-header-row {
    padding-left: 12px;
    padding-right: 12px;

    overflow: hidden;
    white-space: nowrap;
}

.gantt-body {
    position: relative;
    height: 100%;
}

.gantt-body-rows {
    overflow-x: hidden;
}

.gantt-body-background {
    position: absolute;
    height: 100%;
    width: 100%;
}

.gantt-body-foreground {
    position: absolute;
    height: 100%;
    width: 100%;
}

.gantt-body-columns {
    position: absolute;
    height: 100%;
}


.gantt-resizer {
    position: absolute;
    z-index: 10;
    right: -6px;
    top: 0px;
    width: 12px;
    height: 100%;
}

.gantt-resizer-enabled {
    cursor: ew-resize;
}

.gantt-resizer-display {
    margin-left: auto;
    margin-right: auto;
    width: 4px;
    background-color: #DDDDDD;
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 2px 2px;
    height: 100%;
}

.gantt-timeframe {
    position: absolute;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    height: 100%;
}

.gantt-timeframe-working {

}

.gantt-timeframe-non-working {
    background-color: lightgray;
    opacity: 0.3;
}

.gantt-foreground-col-current-date {
    background-color: green;
    opacity: 0.6
}

.gantt-background-row-alt {
    background-color: #EFEFEF;
}

.gantt-row {
    position: relative;
}

.gantt-row-height {
    height: 2em;
}

.gantt-task {
    position: absolute;

    margin: auto;
    top: 0; bottom: 0;
    min-width: 0.6em;
    height: 80%;
}

.gantt-task-milestone {
    position: absolute;

    margin: auto;
    top: 0; bottom: 0;
    width: 0.6em !important;
    height: 80%;
    background-color: grey;
    border-radius: 0.3em;
}


.gantt-task-background {
    position: absolute;

    height: 100%;
    width: 100%;

    background-color: grey;
    border-radius: 2px;
}

.gantt-task-foreground {
    position: absolute;

    height: 100%;
    width: 100%;

    z-index: 10;
}

.gantt-task-content-container {
    position: absolute;

    height: 100%;
    width: 100%;
}

.gantt-task-content {
    position: relative;

    margin-left: 5px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;

    height:100%;

    vertical-align: middle;

    text-align: center;
    overflow: hidden;
    z-index: 10;
}

.gantt-task-content span  {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
}

.gantt-task-content span.middle-placeholder  {
    display:inline-block;
    vertical-align: middle;
    /*height: 100%;  Can't align vertically ... Doesn't work when label is truncated because placeholder is ignored */
}

.gantt-task-truncated-left {
    position: absolute;
    top: 0; bottom: 0;
    left: 0.3em;
}

.gantt-task-truncated-right {
    position: absolute;
    top: 0; bottom: 0;
    right: 0.3em;
}

.gantt-task-truncated-left span, .gantt-task-truncated-right span {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bolder;
}

.gantt-timespan {
    position: absolute;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    display: inline-block;
    height: 100%;

    color: black;
    background-color: rgba(158, 158, 158, 0.5);
    border-left: 1px solid rgba(158, 158, 158, 1);
    border-right: 1px solid rgba(158, 158, 158, 1);
}

.gantt-current-date-line {
    border: 1px dotted green;
    opacity: 0.6;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
