.gantt-body-dependencies {
    position: absolute;
    height: 100%;
    width: 100%;
}

.jsplumb-endpoint-anchor {
    z-index: 20; /* z-index must be higher than tasks z-index */
    overflow: hidden;
}

.gantt-endpoint svg *{
    fill-opacity: 0.5;
}

.gantt-endpoint.source-endpoint svg * {
    fill: green;
}

.gantt-endpoint.target-endpoint svg * {
    fill: blue;
}
