.gantt-task-bounds {
    height:125%;
    top:-12.5%;
    position: absolute;
    z-index: 99;
    border: 1px dashed;
    pointer-events: none;
}

.gantt-task-bounds-in {
    border-color: #2E4F2E;
}
.gantt-task-bounds-out {
    border-color: #FF6347;
}

.gantt-row-label span {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    display: inline-block;
    text-align: center;
    padding-top: 0.5em;
    overflow: hidden;
    text-overflow: clip;
}

.gantt-row-label span {
    padding-left: 12px;
    padding-right: 12px;
}

.gantt-row-label {
    overflow: hidden;
    white-space: nowrap;
}

.gantt-labels-header-row  {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;

    padding-left: 12px;
    padding-right: 12px;

    height: 2em;
    white-space: nowrap;
    border-top: 1px solid #dddddd;
    overflow: hidden;
}

.gantt-labels-header-row span {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    display: inline-block;
    height: 2em;
    text-align: center;
    padding-top: 0.5em;
    overflow: hidden;
    text-overflow: clip;
}

.gantt-labels-header-row-last {
    border-bottom: 1px solid #dddddd;
}

.gantt-labels-header {
    overflow: hidden;
}

.gantt-labels-body {
    overflow: hidden;
}

.gantt-task-moving, .gantt-task-resizing {
    z-index: 750 !important;

    opacity: 0.6;
    filter: alpha(opacity=60);

    -webkit-filter: grayscale(0.7);
    -moz-filter: grayscale(0.7);
    -ms-filter: grayscale(0.7);
    -o-filter: grayscale(0.7);
    filter: grayscale(0.7);
}

.gantt-task-progress {
    position: absolute;
    overflow: hidden;
    bottom: 0px;
    height: 6px;
    border-radius: 2px;
}

.gantt-task-info {
    position: fixed;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 9px 12px;
    z-index: 999;
}

.gantt-task-info-content {
    line-height: 1.1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gantt-task-infoArrow:before, .gantt-task-infoArrowR:before {
    position: absolute;
    top: 100%;
    width: 0px; height: 0px;
    border-top: 8px solid rgba(0, 0, 0, 0.1);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: '';
}

.gantt-task-infoArrow:before {
    left: 10px;
}

.gantt-task-infoArrowR:before {
    right: 10px;
}

.gantt-task-infoArrow:after, .gantt-task-infoArrowR:after {
    position: absolute;
    top: 100%;
    width: 0px; height: 0px;
    border-top: 7px solid #ffffff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    content: '';
}

.gantt-task-infoArrow:after {
    left: 11px;
}

.gantt-task-infoArrowR:after {
    right: 11px;
}

.gantt-row-label-background {
    position: absolute;
    width: 100%;
}

.gantt-row-label span {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    display: inline-block;
    text-align: center;
    padding-top: 0.5em;
    overflow: hidden;
    text-overflow: clip;
}

.gantt-row-label span {
    padding-left: 12px;
    padding-right: 12px;
}

.gantt-tree-body .gantt-row-label span {
    padding-left: 0;
    margin: 0;
    vertical-align: middle;
}

.gantt-row-label {
    overflow: hidden;
    white-space: nowrap;
}

.gantt-tree-header {
    overflow: hidden;
}

.gantt-tree-body {
    overflow: hidden;
}

.gantt-tree-header-row  {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    height: 2em;
    white-space: nowrap;
    border-top: 1px solid #dddddd;
}

.gantt-tree-header-row-last {
    border-bottom: 1px solid #dddddd;
}

.gantt-tree-header-row {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    white-space: nowrap;
}

.gantt-tree-header-row  {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;

    padding-left: 12px;
    padding-right: 12px;

    height: 2em;
    white-space: nowrap;
    border-top: 1px solid #dddddd;
    overflow: hidden;
}

.gantt-tree-header-row span {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    display: inline-block;
    height: 2em;
    text-align: center;
    padding-top: 0.5em;
    overflow: hidden;
    text-overflow: clip;
}

.gantt-tree-body ol {
    padding-left: 0;
}

.gantt-tree-body .gantt-row-label .valign-container {
    height: 100%;
}

.gantt-tree-body .gantt-row-label .valign-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.angular-ui-tree-handle {
    cursor: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    min-height: inherit;
    line-height: inherit;
}
