.gantt {
    width: 100%;
    line-height: 1;
}

.gantt-scrollable {
    overflow-y: hidden;
    overflow-x: scroll;
}

.gantt-head, .gantt-labels {
    cursor: default;
}

.gantt-labels {
    float: left;
    border-right: 1px solid #dddddd;
}

.gantt-labels-head {
    border-top: 1px solid transparent;
    border-bottom: 1px solid #dddddd;
}

.gantt-labels-body {
    overflow: hidden;
}

.gantt-head {
    overflow: hidden;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.gantt-head-row, .gantt-labels-head-row {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    height: 2em;
    white-space: nowrap;
}

.gantt-head-row-bottom {
    border-bottom: 1px solid #dddddd;
}

.gantt-head-row span {
    position: absolute;
    border-right: 1px solid #dddddd;
}

.gantt-labels-row span, .gantt-labels-head-row span, .gantt-head-row span {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    display: inline-block;
    height: 2em;
    text-align: center;
    padding-top: 0.5em;
    overflow: hidden;
    text-overflow: clip;
}

.gantt-labels-row span, .gantt-labels-head-row {
    padding-left: 12px;
    padding-right: 12px;
}

.gantt-labels-head-row {
    overflow: hidden;
    white-space: nowrap;
}

.gantt-labels-row {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

.gantt-body {
    position: relative;
    width: 100%;
}

.gantt-body-background {
    position: absolute;
    width: 100%;
}

.gantt-body-foreground {
    position: absolute;
    height: 100%;
}

.gantt-foreground-col, .gantt-foreground-col-weekend, .gantt-foreground-col-nonworkhour {
    position: absolute;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
	display: inline-block;
    height: 100%;
    border-right: 1px solid #dddddd;
}

.gantt-foreground-col-weekend, .gantt-foreground-col-nonworkhour {
    background-color: rgba(200, 200, 200, 0.3);
}

.gantt-background-row-alt {
	background-color: #EFEFEF;
}

.gantt-row {
    position: relative;
}

/* Move row to top when hovering to ensure its tooltips
     appear above other tasks which may have higher z-index.  */
.gantt-row:hover {
    z-index: 999;
}

.gantt-row-height {
    height: 2em;
}

.gantt-task {
	position: absolute;
    margin: auto;
    top: 0; bottom: 0;
    min-width: 0.6em;
    height: 80%;
    background-color: grey;
    border-radius: 2px;
}

.gantt-task-milestone {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0;
    width: 0.6em !important;
    height: 80%;
    background-color: grey;
    border-radius: 0.3em;
}

.gantt-task-content {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0.3em;
    overflow: hidden;
}

.gantt-task-content span  {
    display: inline-block;
    white-space: nowrap;
}

.gantt-task-info {
    position: fixed;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 9px 12px;
    opacity: 0;
    z-index: 999;
}

.gantt-task-info-content {
    line-height: 1.1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gantt-task-infoArrow:before, .gantt-task-infoArrowR:before {
    position: absolute;
    top: 100%;
    width: 0px; height: 0px;
    border-top: 8px solid rgba(0, 0, 0, 0.1);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: '';
}

.gantt-task-infoArrow:before {
    left: 10px;
}

.gantt-task-infoArrowR:before {
    right: 10px;
}

.gantt-task-infoArrow:after, .gantt-task-infoArrowR:after {
    position: absolute;
    top: 100%;
    width: 0px; height: 0px;
    border-top: 7px solid #ffffff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    content: '';
}

.gantt-task-infoArrow:after {
    left: 11px;
}

.gantt-task-infoArrowR:after {
    right: 11px;
}

.gantt-task-bounds {
    height:125%;
    top:-12.5%;
    position: absolute;
    z-index: 99;
    border: 1px dashed;
    pointer-events: none;
}

.gantt-task-bounds-in {
    border-color: #2E4F2E;
}
.gantt-task-bounds-out {
    border-color: #FF6347;
}
