/* Styles go here */
.container {
    height: 150px;
    width: 300px;

    background:gray;
    border: 5px solid black;
    margin: 10px;

    position: relative;
}

.layer.one {
    position:absolute;
    top: 50px;
    left: 50px;
    width: 200px;

    background: blue;
}

.layer.two {
    position:absolute;
    top: 5%;
    left: 5%;
    height:90%;
    width:90%;

    background: red;
    opacity: 0.1;

    pointer-events: none;
}

.workaround .layer.two {
    /* Simulate IE<11 behavior */
    pointer-events: auto;
}

.layer.event-dispatch-layer {
    position:absolute;
    height:100%;
    width:100%;
}
